.ag-theme-quartz {
  --ag-wrapper-border-radius: 0 !important;
  --ag-border-radius: 0 !important;
}
.ag-theme-quartz .ag-cell-focus {
  border-color: transparent !important;
  outline: none !important;
}

.ag-center-cols-viewport .ag-cell {
  display: flex !important;
  align-items: center;
  padding-block: 8px;
}

.ag-theme-quartz .ag-header {
  --ag-header-background-color: var(--light-gray);
}

.ag-cell .ag-cell-focus {
  border: 3px solid black;
}

.ag-badge {
  font-weight: 500;

  & .ag-cell-value {
    padding: 8px 16px;
    color: var(--black);
  }

  &.blue span {
    background-color: var(--light-main);
    color: var(--main);
  }
  &.green span {
    background-color: var(--light-green);
    color: var(--green-success);
  }
  &.red span {
    background-color: var(--light-red-secondary);
    color: var(--red);
  }
  &.yellow span {
    background-color: var(--yellow);
    color: var(--orange);
  }
  &.gray span {
    background-color: var(--light-gray);
    color: var(--dark-gray);
  }
}

.ag-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.ag-cell {
  user-select: text !important;
  -webkit-user-select: text !important;
}
