.button {
  background-color: var(--main);
  color: var(--white);
  padding: 11px 24px;
  display: inline-block;
  font-size: 16px;
  transition: $transition-2;
  width: fit-content;
  line-height: 21px;

  @include hover(background-color, var(--main-hover));

  &:active {
    background-color: var(--main);
  }
}

.button--small {
  background-color: var(--main);
  color: var(--white);
  padding: 6px 16px;
  display: inline-block;
  font-size: 16px;
  transition: $transition-2;
  width: fit-content;
  line-height: 21px;
  font-weight: normal;

  @include hover(background-color, var(--main-hover));

  &:active {
    background-color: var(--main);
  }
}

.button--default {
  background-color: var(--main);
  color: var(--white);
  padding: 10px 24px;
  display: inline-block;
  font-size: 16px;
  transition: $transition-2;
  line-height: 21px;

  @include hover(background-color, var(--main-hover));

  &:active {
    background-color: var(--main);
  }
}

.button--no-stretch {
  background-color: var(--main);
  color: var(--white);
  padding: 10px 16px;
  display: inline-block;
  font-size: 16px;
  transition: $transition-2;
  width: fit-content;

  @include hover(background-color, var(--main-hover));

  &:active {
    background-color: var(--main);
  }
}

.button:disabled {
  background-color: var(--gray);
  color: var(--dark-gray);
  padding: 10px 16px;
  display: inline-block;
  font-size: 16px;
  transition: $transition-2;
  width: fit-content;
  cursor: not-allowed;
}

.button-disabled--small {
  background-color: var(--gray);
  color: var(--dark-gray);
  padding: 6px 16px;
  display: inline-block;
  font-size: 16px;
  transition: $transition-2;
  width: fit-content;
  cursor: not-allowed;
}

.button--secondary:disabled {
  background-color: var(--gray);
  color: var(--dark-gray);
  padding: 10px 16px;
  display: inline-block;
  font-size: 16px;
  transition: $transition-2;
  width: fit-content;
  cursor: not-allowed;
}

.button--secondary-no-stretch {
  background-color: var(--white);
  color: var(--main);
  border: 1px solid var(--main);
  font-size: 16px;
  line-height: 21px;
  width: fit-content;

  padding: 10px 24px;
  transition: $transition-2;

  @include hover(background-color, var(--main-hover));
  @include hover(color, var(--white));
  @include hover(border-color, var(--main-hover));
}

.button--secondary {
  background-color: var(--white);
  color: var(--main);
  border: 1px solid var(--main);
  font-size: 16px;
  line-height: 21px;

  padding: 11px 24px;
  transition: $transition-2;

  @include hover(background-color, var(--main-hover));
  @include hover(color, var(--white));
  @include hover(border-color, var(--main-hover));
}

.button--secondary:disabled {
  background-color: var(--gray);
  color: var(--dark-gray);
  border: 1px solid var(--gray);
  font-size: 16px;
  line-height: 21px;
  cursor: not-allowed;
  padding: 11px 24px;
}

.button--secondary-small {
  background-color: var(--white);
  color: var(--main);
  border: 1px solid var(--main);
  font-size: 16px;
  line-height: 21px;

  padding: 6px 16px;
  transition: $transition-2;

  @include hover(background-color, var(--main-hover));
  @include hover(color, var(--white));
  @include hover(border-color, var(--main-hover));
}

.button--light-blue {
  background-color: var(--light-blue);
  color: var(--main);
  border: 1px solid var(--main);
  font-size: 16px;
  line-height: 21px;

  padding: 10px 24px;
  transition: $transition-2;

  @include hover(background-color, var(--main-hover));
  @include hover(color, var(--white));
  @include hover(border-color, var(--main-hover));

  &:active {
    background-color: var(--main);
    color: var(--white);
  }
}

@media screen and (max-width: 576px) {
  .button,
  .button--secondary,
  .button--light-blue {
    text-align: center;
    width: 100%;
  }
}

.period-button {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  line-height: 21px;
  width: 120px;
  height: 45px;

  padding: 10px 24px;
  transition: $transition-2;

  @include hover(background-color, var(--main-hover));
  @include hover(color, var(--white));

  &.active {
    background-color: var(--main);
    color: var(--white);
  }
}

.period-button--small {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  line-height: 21px;
  width: 100px;
  height: 45px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;

  padding: 10px 24px;
  transition: $transition-2;

  @include hover(background-color, var(--main-hover));
  @include hover(color, var(--white));

  &.active {
    background-color: var(--main);
    color: var(--white);
  }
}

.period-button--small input[type="radio"] {
  display: none;
}
.period-button--small input[type="radio"]:checked + span,
.period-button--small.active {
  background-color: var(--main);
  color: white;
  border-color: var(--main);
}
