.cabinet {
  &__container {
    display: flex;
    flex: 1;
  }

  &__header {
    padding-inline: 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray);

    & .dropdown-menu {
      border-top: none;
    }
  }

  &__aside {
    height: 100vh;
    position: fixed;
    width: 300px;
    background-color: var(--main);
    top: 92px;
    padding-top: 128px;
    transition: $transition-2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 300px;

    &-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      right: 24px;
      top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition-2;
      border: 1px solid transparent;

      @media (hover: hover) {
        &:hover {
          background-color: var(--light-blue);
        }

        &:hover svg path {
          fill: var(--main);
        }
      }

      @media (hover: none) {
        &:active {
          background-color: var(--light-blue);
          border: 1px solid var(--white);
          fill: var(--white);
        }

        &:active svg path {
          fill: var(--main);
        }
      }
    }

    &-button.compact {
      transform: rotate(180deg);
    }

    &-menu {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &-menu-item {
      background-color: var(--main);
      transition: $transition-2;

      & a {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px 30px;
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        gap: 8px;
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--light-blue);
        }

        &:hover a {
          color: var(--main);
        }

        &:hover svg path {
          fill: var(--main);
        }
      }

      @media (hover: none) {
        &:active {
          background-color: var(--light-blue);
        }

        &:active a {
          color: var(--main);
        }

        &:active svg path {
          fill: var(--main);
        }
      }
    }

    &-menu-item:last-child {
      margin-top: auto;
    }

    &-menu-item svg {
      width: 28px;
      height: 28px;
    }

    &-menu-item svg path {
      fill: var(--white);
      width: 28px;
      height: 28px;
    }

    &-menu-item.active {
      background-color: var(--white);

      & a {
        padding: 16px 32px;
        color: var(--black);
      }

      & svg path {
        fill: var(--main);
      }
    }

    &-menu-text {
      white-space: nowrap;
      overflow: hidden;
      transition: $transition-2;
    }
  }

  &__profile-container {
    display: flex;
    gap: 16px;
  }

  &__profile-img {
    min-width: 80px;
    height: 80px;
    background-color: var(--gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;

    &.icon img {
      width: 40px;
      height: 40px;
    }

    &.image img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__aside.compact {
    transition: $transition-2;
    width: 88px;
  }

  &__aside.compact .cabinet__aside-menu-text {
    opacity: 0;
    font-size: 0px;
    visibility: hidden;
  }

  &__aside.compact .cabinet__aside-menu-item a {
    padding: 16px 30px;
    gap: 0px;
  }

  &__content {
    margin-left: 300px;
    background-color: #f5f6f8;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: $transition-2;
    padding: 64px 40px;
    align-items: self-start;
    overflow: auto;

    &-button {
      background-color: var(--main);
      color: var(--white);
      padding: 12px 16px;
      display: inline-block;
      font-size: 16px;
      transition: $transition-2;
      width: fit-content;

      @include hover(background-color, var(--main-hover));

      &:active {
        background-color: var(--main);
      }
    }

    &-button--no-stretch {
      background-color: var(--main);
      color: var(--white);
      padding: 12px 16px;
      display: inline-block;
      font-size: 16px;
      transition: $transition-2;
      width: fit-content;

      @include hover(background-color, var(--main-hover));

      &:active {
        background-color: var(--main);
      }
    }

    &-button:disabled {
      background-color: var(--gray);
      color: var(--dark-gray);
      padding: 12px 16px;
      display: inline-block;
      font-size: 16px;
      transition: $transition-2;
      width: fit-content;
      cursor: not-allowed;
    }

    &-button--secondary {
      background-color: var(--white);
      color: var(--main);
      border: 1px solid var(--main);
      padding: 11px 16px;
      transition: $transition-2;

      @include hover(background-color, var(--main-hover));
      @include hover(color, var(--white));
      @include hover(border-color, var(--main-hover));
    }
  }

  &__content.full {
    margin-left: 88px;
  }

  &__footer {
    margin-left: 300px;
    padding-inline: 40px;
    background-color: var(--main);
    transition: $transition-2;
  }

  &__footer.full {
    margin-left: 88px;
  }

  &__profile-info {
    display: flex;
    margin-left: 96px;
  }

  &__profile-info .dropdown-toggle {
    padding: 0;
    padding-bottom: 4px;
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
  }

  &__profile-info .dropdown-menu {
    margin-top: 43px !important;
    border-top: 1px solid var(--light-gray);
    background-color: var(--white);
  }

  &__profile-info .header-dropdown .dropdown-toggle::after {
    width: 10px;
    height: 10px;
  }

  &__profile-info:hover .header-dropdown .dropdown-toggle::after {
    transform: rotate(225deg) translate(-5px, -5px);
  }

  &__profile-info:hover .profile-btn {
    background-color: var(--light-red);
  }
}

.application__status {
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;

  &.approved {
    background-color: var(--light-green);
    color: var(--green-success);
  }

  &.rejected {
    background-color: var(--light-red-secondary);
    color: var(--red);
  }

  &.pending {
    background-color: var(--yellow);
    color: var(--orange);
  }

  &.archive {
    background-color: var(--gray);
    color: var(--dark-gray);
  }
}

.profile-btn {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  transition: $transition-2;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: var(--main);
  border-radius: 50%;
}

.menu-bar {
  width: 15px;
  height: 1px;
  background-color: var(--white);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cabinet__aside,
.cabinet__content,
.cabinet__footer,
.cabinet__aside-button {
  visibility: hidden;
}

.cabinet__aside.ready,
.cabinet__content.ready,
.cabinet__footer.ready,
.cabinet__aside-button.ready {
  visibility: visible;
  transition: all 0.01s ease;
}

#personal-fields.hidden {
  display: none;
}

#representative-fields.hidden {
  display: none;
}

.cabinet__step-name {
  display: none;
  font-weight: 600;
  font-size: 20px;
  font-family: $ff-raleway;
}

.cabinet__header-desktop {
  display: flex;
}

// mobile header
.cabinet__header-mobile {
  display: none;
  position: relative;
}

.cabinet__mobile-menu,
.cabinet__mobile-profile {
  display: none;
  position: fixed;
  top: 81px;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 40px 16px;
  padding-bottom: 130px;
  background-color: var(--main);
  color: var(--white);

  &.open {
    display: flex;
  }
}

.cabinet__mobile-menu {
  flex-direction: column;
  justify-content: space-between;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-item a {
    color: var(--white);
  }

  &-item a svg path {
    fill: var(--white);
  }
}

.menu-bar {
  width: 15px;
  height: 1px;
  background-color: var(--white);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-toggle.open .menu-bar:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}

.menu-toggle.open .menu-bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .menu-bar:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -3px);
}

.cabinet__application-table {
  max-width: 912px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .cabinet__step-name {
    display: block;
  }

  .cabinet__header-desktop {
    display: none;
  }

  .cabinet__header-mobile {
    display: flex;
  }

  .cabinet__aside {
    display: none;
  }

  .cabinet__header {
    padding-inline: 16px;
  }

  .cabinet__content {
    padding: 48px 16px;
  }

  .cabinet__content.full {
    margin-left: 0;
  }

  .cabinet__footer.full {
    margin-left: 0;
  }

  .cabinet__content {
    margin-left: 0;
  }

  .cabinet__footer {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .cabinet__footer {
    padding-inline: 15px;
  }

  .cabinet__content-button {
    width: 100%;
  }

  .cabinet__content-button:disabled {
    width: 100%;
  }
}

.cabinet__member-card {
  padding: 32px;
  border: 1px solid var(--main);
  background-image: url("../img/member-card-bg.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
  min-height: 366px;
}

.member-card__header {
  display: flex;
  justify-content: space-between;

  & img {
    width: 84px;
    height: 60px;
    object-fit: cover;
  }
}

.member-card__content {
  margin-top: 24px;
}

.member-card__avatar {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-right: 24px;

  @media screen and (max-width: 576px) {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}

.member-card__title {
  font-weight: 600;
  font-size: 20px;
  font-family: $ff-raleway;
  color: var(--main);
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--main);
  text-align: center;
}

.member-card__subtitle {
  font-size: 18px;
  color: var(--main);
  text-transform: uppercase;
  padding-top: 8px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .cabinet__member-card {
    padding: 16px;
  }
}
