.clubs {
  height: 450px;
  background-image: url("../img/clubs/clubs-main-bg.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;
}

.clubs-olympiets {
  background-image: url("../img/clubs/olympiets-banner.png");
}
