.header-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
}

.header-dropdown .dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  border: solid var(--black);
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(45deg) translate(0, 0);
  transition: transform ease 0.2s;
}

.header-dropdown:hover .dropdown-toggle::after,
.header-dropdown[aria-expanded="true"] .dropdown-toggle::after {
  transform: rotate(225deg) translate(-3px, -2px);
  border-color: var(--main);
  color: var(--main);
}

.header-dropdown .dropdown-menu {
  border-radius: 0;
  border: 1px solid var(--light-gray);
  border-top: 2px solid var(--main);
}

.header-dropdown .dropdown-menu .dropdown-item {
  padding: 12px;
}

.header-dropdown .dropdown-menu li:hover {
  background-color: var(--main-hover);
  color: var(--white);
}

.header-dropdown .dropdown-menu li:hover a {
  color: var(--white);
}

.header-dropdown .dropdown-menu li:active {
  background-color: var(--main);
}

.header-dropdown .dropdown-toggle {
  padding-inline: 8px;
  padding-block: 28px;
}

.header-dropdown:hover .dropdown-toggle {
  color: var(--main);
}

// top header dropdown

.header-top-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
}

.header-top-dropdown .dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  border: solid var(--white);
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(45deg) translate(0, 0);
  transition: transform ease 0.2s;
}

.header-top-dropdown:hover .dropdown-toggle::after,
.header-top-dropdown[aria-expanded="true"] .dropdown-toggle::after {
  transform: rotate(225deg) translate(-3px, -2px);
  border-color: var(--light-blue);
  color: var(--white);
}

.header-top-dropdown .dropdown-menu {
  border-radius: 0;
  border: 1px solid var(--light-gray);
  border-top: 2px solid var(--light-blue);
}

.header-top-dropdown .dropdown-menu .dropdown-item {
  padding: 12px;
}

.header-top-dropdown .dropdown-menu li:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

.header-top-dropdown .dropdown-menu li:hover a {
  color: var(--main);
}

.header-top-dropdown .dropdown-menu li:active {
  background-color: var(--blue);
  color: var(--white);
}

.header-top-dropdown .dropdown-menu li:active a {
  color: var(--white);
}

.header-top-dropdown .dropdown-toggle {
  color: var(--white);
  padding-inline: 8px;
  padding-block: 13px;
}

.header-top-dropdown:hover .dropdown-toggle {
  color: var(--light-blue);
}

.dropdown-menu {
  min-width: 100%;
}

.dropdown-item {
  width: 100%;
}

.news-dropdown {
  position: relative;
}

.news-dropdown .dropdown-link {
  background-color: transparent;
}

.news-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
  z-index: 1;
}

.news-dropdown .dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  border: solid var(--black);
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(45deg) translate(0, 0);
  transition: transform ease 0.2s;
}

.news-dropdown:hover .dropdown-toggle::after,
.news-dropdown[aria-expanded="true"] .dropdown-toggle::after {
  transform: rotate(225deg) translate(-3px, -2px);
  border-color: var(--red);
  color: var(--red);
}

.news-dropdown .dropdown-menu {
  border-radius: 0;
  border-top: 3px solid var(--light-red);
}

.news-dropdown .dropdown-menu .dropdown-link {
  display: block;
  text-align: left;
  width: 100%;
  padding: 12px;
}

.news-dropdown .dropdown-menu li:hover {
  background-color: var(--light-red);
  color: var(--white);
}

.news-dropdown .dropdown-menu li:hover .dropdown-link {
  color: var(--white);
}

.news-dropdown .dropdown-menu li:active .dropdown-link {
  background-color: var(--light-red);
  color: var(--red);
}

.news-dropdown .dropdown-menu .dropdown-link.active {
  color: var(--red);
  font-weight: 500;
}

.news-dropdown .dropdown-toggle {
  padding-inline: 8px;
  padding-bottom: 4px;
  font-weight: 500;
}

.news-dropdown:hover .dropdown-toggle {
  color: var(--light-red);
}

@media screen and (max-width: 768px) {
  .news-dropdown:hover .dropdown-menu {
    left: -100px;
  }
}
