.feedback {
  &__body {
    max-width: 586px;
  }

  &__content {
    background-color: var(--main);
    padding-block: 100px;
  }

  &__header {
    margin-bottom: 32px;
  }

  &__text {
    color: var(--white);
    margin-bottom: 32px;
  }

  &__img {
    max-width: 708px;

    & img {
      width: 100%;
    }
  }
}
