.footer {
  color: var(--white);
  border-top: 1px solid var(--white);

  &__content {
    background-color: var(--main);
    padding-top: 72px;
    padding-bottom: 64px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__contacts-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__menu {
    margin-left: 120px;

    & a {
      color: var(--white);
    }

    & a:hover {
      color: var(--light-blue);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    width: 100%;
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    max-width: 580px;
  }

  &__email-newsletter {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__legal-info {
    line-height: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__menu {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .footer__body {
    justify-content: center;
    gap: 24px;
  }

  .footer__menu {
    margin-left: 120px;
    margin-bottom: 30px;
  }

  .footer__bottom {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 16px;
    width: unset;
  }
}

@media screen and (max-width: 768px) {
  .footer__email-newsletter {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  .footer__body {
    justify-content: space-between;
    gap: 8px;
  }

  .footer__email-newsletter {
    flex-wrap: wrap;
  }

  .footer__menu {
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .footer__contacts-info {
    margin-bottom: 30px;
  }

  .footer__bottom {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
  }
}
