.hero {
  &__container {
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    background-position: 50% 50%;
  }

  &__content {
    padding: 220px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: var(--white);
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 184px;
    text-align: center;
  }

  &__menu {
    padding: 56px;
    display: flex;
    justify-content: center;
    background-color: rgba(221, 221, 221, 0.2);
    backdrop-filter: blur(30px);
    gap: 24px;
    flex-wrap: wrap;

    & li {
      display: flex;
    }
  }

  &__menu-item {
    display: block;
    padding: 30px;
    background-color: var(--main);
    transition: $transition-2;
    cursor: pointer;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    width: 408px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    &:hover {
      background-color: var(--main-hover);
    }
  }
}

@media screen and (max-width: 1250px) {
  .hero__title {
    font-size: 42px;
    text-align: left;
  }

  .hero__menu {
    padding: 24px;
  }

  .hero__menu-item {
    width: 320px;
  }
}
@media screen and (max-width: 576px) {
  .hero__container {
    background-image: url("../img/mobile-hero-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
  }

  .hero__menu {
    transform: translateY(-40px);
    background-color: transparent;
    backdrop-filter: none;
    padding: 10px;
  }

  .hero__menu-item {
    padding: 16px;
  }

  // .hero__menu-item {
  //   width: 300px;
  // }
}
