.history {
  height: 450px;
  background-image: url("../img/history-bg.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;

  &__title {
    font-size: 48px;
    font-family: $ff-raleway;
    color: var(--white);
    font-weight: 700;
    text-align: left;
    max-width: 1100px;
    padding-top: 150px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 64px;
  }

  &__content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__wrapper {
    flex: 1 1 calc(75% - 24px);
  }

  &__body {
    padding-bottom: 90px;
  }

  &__item {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    position: relative;

    &-date {
      font-size: 24px;
      display: inline-block;
      padding: 16px;
      background-color: var(--main);
      color: var(--white);
      width: 100%;
      max-width: 122px;
      height: fit-content;
      text-align: center;
      font-family: $ff-raleway;
      z-index: 2;
      line-height: 120%;
    }

    &:not(:nth-last-child(-n + 1))::after {
      content: "";
      position: absolute;
      top: 0;
      left: 60px;
      width: 2px;
      height: 100%;
      background-color: var(--main);
      z-index: 1;
    }

    &-text {
      background-color: var(--light-gray);
      padding: 16px;
      width: 100%;
      position: relative;
    }

    &-text::after {
      content: "";
      left: -10px;
      top: 10px;
      transform: translate(45deg);
      position: absolute;
      z-index: 2;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 10px solid var(--light-gray);
    }
  }
}

.table-container {
  overflow-x: auto;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.results-table th,
.results-table td {
  padding: 16px;
  text-align: left;
  font-size: 16px;
}

.results-table tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--light-gray);
}

.results-table th {
  background-color: var(--light-gray);
  font-weight: 500;
}

.results-table tfoot td {
  font-weight: 500;
  background-color: var(--light-gray);
}

.results-table td {
  vertical-align: middle;
}

.results-table tfoot td:first-child {
  text-align: left;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .results-table,
  .results-table thead,
  .results-table tbody,
  .results-table tfoot,
  .results-table th,
  .results-table td,
  .results-table tr {
    display: block;
    width: 100%;
  }

  .results-table tbody tr td {
    border-bottom: 1px solid var(--light-gray);
  }

  .results-table thead {
    display: none;
  }

  .results-table tr {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-gray);
  }

  .results-table td {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    text-align: left;
  }

  .results-table td::before {
    content: attr(data-label);
    flex-basis: 40%;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .history__title {
    font-size: 32px;
    padding-top: 150px;
  }

  .results-table td[data-label="№"] {
    display: none;
  }
}

@media screen and (max-width: 679px) {
  .history__sidebar {
    order: 1;
    position: static !important;
  }

  .history__wrapper {
    order: 2;
  }
}

@media screen and (max-width: 576px) {
  .history__title {
    font-size: 28px;
  }

  .history__item-date {
    font-size: 16px;
    padding: 8px;
    width: 100%;
    max-width: 56px;
  }

  .history__item {
    width: 100%;
    &:not(:nth-last-child(-n + 1))::after {
      left: 28px;
    }
  }

  .history__wrapper {
    width: 100%;
  }
}
