.history {
  height: 450px;
  background-image: url("../../img/history-bg.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;

  &__title {
    font-size: 48px;
    font-family: $ff-raleway;
    color: var(--white);
    font-weight: 700;
    text-align: left;
    max-width: 1100px;
    padding-top: 150px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__item {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    position: relative;

    &-date {
      font-size: 24px;
      display: inline-block;
      padding: 16px;
      background-color: var(--main);
      color: var(--white);
      min-width: 122px;
      height: fit-content;
      text-align: center;
      font-family: $ff-raleway;
      z-index: 2;
    }

    &:not(:nth-last-child(-n + 1))::after {
      content: "";
      position: absolute;
      top: 0;
      left: 60px;
      width: 2px;
      height: 100%;
      background-color: var(--red);
      z-index: 1;
    }

    &-text {
      background-color: var(--light-gray);
      padding: 16px;
    }

    &-text::before {
      content: "";
      left: -4px;
      top: 10px;
      background-color: var(--light-gray);
      width: 8px;
      height: 8px;
      transform: translate(45deg);
      position: absolute;
    }
  }
}
