.institutions {
  padding: 16px;
  border: 1px solid var(--main);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 464px;
  height: 548px;
  overflow-y: auto;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray);
    
  }

  &__map {
    width: 100%;

  }
}