.institutions {
  display: flex;
  gap: 24px;

  &__list {
    padding: 16px;
    border: 1px solid var(--main);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 548px;
    overflow-y: auto;
    max-width: 464px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray);
  }

  &__map {
    width: 100%;
  }
}

@media screen and (max-width: 1040px) {
  .institutions {
    flex-wrap: wrap;
    width: 100%;
  }

  .institutions__list {
    max-width: 100%;
    width: 100%;
    order: 2;
  }

  .institutions__item {
    width: 100%;
  }

  .institutions__map {
    order: 1;
  }
}
