.masters {
  height: 450px;
  background-image: url("../img/masters/masters-banner.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;
}

.masters-clubs {
  height: 450px;
  background-image: url("../img/masters/masters-clubs-banner.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;
}

.masters-clubs-zubr {
  height: 450px;
  background-image: url("../img/masters/masters-clubs-zubr-banner.png");
  background-size: cover;
  background-position: 47% 50%;
  margin-bottom: 40px;
}
