.nav {
  display: flex;
  gap: 64px;
}

.nav-link {
  color: var(--white);
  position: relative;
}

.nav-link.active {
  color: var(--red);
  font-weight: normal;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: var(--red);
  z-index: 1;
}

.nav-underline {
  position: relative;
}

.nav-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  z-index: 0;
}

.nav-link:not(.active):hover {
  color: var(--light-red);
}

.nav-link:not(.active):hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: var(--light-red);
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .nav {
    gap: 32px;
  }
}

@media screen and (max-width: 992px) {
  .nav {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    gap: 24px;
  }

  .nav-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    z-index: 0;
  }
}

@media screen and (max-width: 576px) {
  .nav-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    transform: scaleX(calc(1 + (0.68 * (var(--scroll-x) / var(--scroll-max)))));
    height: 1px;
    background-color: var(--white);
    z-index: 0;
  }
}
