.nav {
  display: flex;
  gap: 64px;
}

.nav-link {
  color: var(--white);
  position: relative;
  padding-bottom: 10px;
}

.nav-link.active {
  color: var(--red);
  font-weight: normal;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--red);
  z-index: 1;
}

.nav-underline {
  position: relative;
}

.nav-link:not(.active):hover {
  color: var(--light-red);
}

.nav-link:not(.active):hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--light-red);
  z-index: 1;
}

.tab-content {
  display: flex;
  justify-content: center;
}

.nav-link--dark {
  color: var(--black);
  font-weight: 500;
  position: relative;
  background-color: var(--white);
  padding-bottom: 10px;
}

.nav-link--dark.active {
  font-weight: 500;
  color: var(--red);
}

.nav-link--dark.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--red);
  z-index: 1;
}

.nav-underline--dark {
  position: relative;
  line-height: 131%;
}

.nav-link--dark:not(.active):hover {
  color: var(--light-red);
}

.nav-link--dark:not(.active):hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--light-red);
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .nav {
    gap: 32px;
  }
}

@media screen and (max-width: 992px) {
  .nav {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    gap: 24px;
  }
}
