.photo-albums {
  height: 450px;
  background-image: url("../img/photos-banner.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;
}

.photo-albums-detail {
  height: 450px;
  background-image: url("../img/photos-detail-banner.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;
}

.photo-albums__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
}

.photo-albums__cards .photo__card:nth-child(1),
.photo-albums__cards .photo__card:nth-child(10),
.photo-albums__cards .photo__card:nth-child(15) {
  grid-column: span 2;
  width: 100%;
}

.photo-albums__cards .photo__image-container {
  max-width: unset;
}

.photo-albums__cards .photo__card {
  max-width: unset;
}

@media screen and (max-width: 1100px) {
  .photo-albums__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .photo-albums__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .photo-albums__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo-albums__cards .photo__card:nth-child(1),
  .photo-albums__cards .photo__card:nth-child(10),
  .photo-albums__cards .photo__card:nth-child(15) {
    grid-column: 1;
  }

  .photo__card {
    width: 100%;
  }
}

.photos-detail__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.photos-detail__card {
  max-width: 464px;
  height: 310px;
  cursor: pointer;
  transform: scale(1);
  transition: $transition-2;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
  }
}

@media screen and (max-width: 768px) {
  .photos-detail__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .photos-detail__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .photos-detail__card {
    max-width: 100%;
  }
}
