.social-media {
  padding-bottom: 100px;
  flex: 1;

  &__header {
    margin-bottom: 32px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: center;
  }

  &__card {
    max-width: 343px;
    width: 100%;
    height: 343px;
    display: flex;
    justify-content: center;
  }
}

.social-media {
  &__card:hover {
    cursor: pointer;
  }

  &__image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__image {
    transition: $transition-3;
    transform: scale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
  }

  &__instagram {
    background-color: var(--red);
    max-width: 343px;
    max-height: 343px;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: $transition-2;

    &:hover {
      background-color: var(--light-red);
    }

    & p {
      color: var(--white);
      font-size: 24px;
      font-weight: 600;
      font-family: $ff-raleway;
    }
  }
}

.social-media__card:hover .social-media__image {
  transition: $transition-3;
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .social-media__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .social-media__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .social-media__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .social-media__instagram {
    width: 340px;
    height: 340px;
  }

  .social-media__card {
    width: 100%;
  }

  .social-media__image-container {
    max-width: unset;
  }
}
