.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--main);
  cursor: pointer;
  display: none;
  font-size: 18px;
  z-index: 100000;
  border-radius: 50%;
}

.scroll-to-top path {
  transform: translateY(-2px);
}

@media (hover: hover) {
  .scroll-to-top:hover path {
    fill: var(--white);
  }
}

@media (hover: nonve) {
  .scroll-to-top:active path {
    fill: var(--white);
  }
}

.scroll-to-top {
  @include hover(background-color, var(--main-hover));
}

body.no-scroll {
  overflow: hidden;
}

.lh-110 {
  line-height: 110%;
}

.bg-fa {
  background-color: var(--white);
}

.h1-title {
  font-size: 48px;
  font-family: $ff-raleway;
  color: var(--white);
  font-weight: 700;
  text-align: left;
  max-width: 1100px;
  padding-top: 120px;
}

@media screen and (max-width: 768px) {
  .h1-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 576px) {
  .h1-title {
    font-size: 28px;
    padding-top: 85px;
  }
}

.h3-title {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
  margin-bottom: 24px;
}

.h2-page-title {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
  font-weight: 700;
  font-size: 48px;
  color: var(--white);
  text-align: left;
}

.h2-title {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
  font-weight: 600;
  font-size: 32px;
  color: var(--main);
  text-align: left;
  margin-bottom: 24px;
}

.no-transition {
  transition: none;
}

.hidden {
  display: none;
}

.default-table {
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

.default-table th,
.default-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid var(--light-gray);
}

.default-table td {
  vertical-align: middle;
}

.default-table th {
  background-color: var(--light-gray);
  font-weight: 500;
}
