.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--main);
  cursor: pointer;
  display: none;
  font-size: 18px;
  z-index: 100000;
  border-radius: 50%;
}

.scroll-to-top path {
  transform: translateY(-2px);
}

@media (hover: hover) {
  .scroll-to-top:hover path {
    fill: var(--white);
  }
}

@media (hover: nonve) {
  .scroll-to-top:active path {
    fill: var(--white);
  }
}

.scroll-to-top {
  @include hover(background-color, var(--main-hover));
}

body.no-scroll {
  overflow: hidden;
}

.lh-110 {
  line-height: 110%;
}

.lh-130 {
  line-height: 130%;
}

.lh-140 {
  line-height: 143%;
}

.bg-fa {
  background-color: var(--white);
}

.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}
.mr-auto {
  margin-right: auto !important;
}
/* Margin left (ml-*) */
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}
.ml-auto {
  margin-left: auto !important;
}

.h1-title {
  font-size: 48px;
  font-family: $ff-raleway;
  color: var(--white);
  font-weight: 700;
  text-align: left;
  max-width: 1100px;
  padding-top: 120px;
}

.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  max-width: 100%;
}

.no-anchor {
  overflow-anchor: none;
}

.page-banner {
  height: 450px;
  background-color: var(--main);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .h1-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 576px) {
  .h1-title {
    font-size: 28px;
    padding-top: 85px;
  }
}

.h3-title {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}

.h4-title {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
}

.h2-page-title {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
  font-weight: 700;
  font-size: 48px;
  color: var(--white);
  text-align: left;
}

.h2-title {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
  font-weight: 600;
  font-size: 32px;
  color: var(--main);
  text-align: left;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .h2-title {
    font-size: 28px;
  }
}

.no-transition {
  transition: none;
}

.hidden {
  display: none;
}

.table-container {
  overflow: auto;
  width: 100%;
}

.default-table {
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

.default-table th,
.default-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid var(--light-gray);
}

.default-table td {
  vertical-align: middle;
}

.default-table th {
  background-color: var(--light-gray);
  font-weight: 500;
}

.default-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-content {
  flex: 0 1 calc(75% - 24px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
}

.page-content-32 {
  flex: 0 1 calc(75% - 24px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: auto;
}

.page-content--no-menu {
  flex: 0 1 calc(75% - 24px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
}

.page-content--full-width {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: auto;
}

.w-40 {
  width: 40%;
}

.cast-table {
  max-width: 1056px;
  overflow: auto;

  & td {
    line-height: 130%;
    font-size: 16px;
    vertical-align: middle;
  }

  &__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 16px;
    margin-bottom: 10px;
  }

  & span {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .cast-table__img {
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .page-content--no-menu {
    flex: 1 1 100%;
  }

  .page-content-32 {
    flex: 1 1 100%;
  }
}

.page-wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.video-container {
  max-width: 708px;
  width: 100%;
  margin: 0 auto;
  height: auto;

  & iframe {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 578px) {
  .video-container {
    & iframe {
      height: 190px;
    }
  }
}

@media screen and (max-width: 1010px) {
  .page-sidebar {
    order: 1;
    position: static !important;
  }

  .page-content {
    flex: 0 1 100%;
    order: 2;
  }
}

.text-content {
  & p:not(:last-child) {
    margin-bottom: 8px;
  }

  & .slider-container {
    margin-block: 32px;
  }

  & a {
    color: var(--main);
    transition: $transition-2;

    &:hover {
      color: var(--main-hover);
    }
  }
}

.marked-list {
  margin-left: 20px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  & li {
    list-style: disc;
  }
}

.sp-image {
  display: inline-block;
  max-width: 100%;

  & img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.after-no::after {
  content: none;
}
