$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1440px;

:root {
  --base-font: 18px;
  --black: #1d1d1d;
  --white: #fafafa;
  --dark-gray: #797979;
  --gray: #cfcccc;
  --light-gray: #eaeaea;
  --main: #273c8d;
  --main-hover: #5b6eb5;
  --blue: #0e7dac;
  --light-blue: #abdef4;
  --red: #cb333d;
  --light-red: #f46b74;
  --light-red-secondary: #f5e5e5;
  --green-success: #038327;
  --light-green: #d8f3d8;
  --yellow: #fcf3c4;
  --orange: #e88e25;
}

$ff-raleway: "Raleway", sans-serif;

$fontSize: 18px;

// *Colors*

$transition-2: all ease-out 0.2s;
$transition-3: all ease-out 0.3s;

// Break-points
$breakPointsMap: (
  "xs": 576,
  "sm": 576,
  "md": 768,
  "lg": 992,
  "xl": 1200,
  "xxl": 1400,
);

// Media rules
$mouse-device: "(hover: hover) and (pointer: fine)";
$touch-device: "(hover: none)";
$ui-mobile: "screen and (max-width: 768px)"; //md
$ui-tablet: "screen and (max-width: 992px)"; //lg
$ui-laptop: "screen and (max-width: 1200px)"; //xl

// z-indexs
$layer-back: -1;
$layer-base: 2;
$layer-ui: 3; //header, footer, menu
$layer-modal: 4;

// bootstrap icon class
.bootsrtap-icon {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-no {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 992px) {
  .w-lg-auto {
    width: auto;
  }
}

// custom padding / margins
.px-12px {
  padding-inline: 12px;
}

.p-12px {
  padding: 12px;
}

.py-6px {
  padding-block: 6px;
}

.py-16px {
  padding-block: 16px;
}

.mr-32px {
  margin-right: 32px;
}

.mr-8px {
  margin-right: 8px;
}

.ff-raleway {
  font-family: $ff-raleway;
  font-feature-settings: "lnum";
}
