.olympic {
  height: 450px;
  background-image: url("../img/olympic-games-bg.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;

  &__title {
    padding-top: 150px;
  }

  &__content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }

  &__wrapper {
    flex: 0 1 calc(75% - 24px);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.olympic-2012 {
  background-image: url("../img/olympic-bg/olympic-2012-bg.png");
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.olympic-table {
  border-collapse: collapse;
  overflow-x: auto;
}

.olympic-table th,
.olympic-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid var(--light-gray);
}

.olympic-table td {
  vertical-align: middle;
  font-weight: normal;
}

.olympic-table th {
  background-color: var(--light-gray);
  font-weight: 500;
}

@media screen and (max-width: 679px) {
  .olympic__sidebar {
    order: 1;
    position: static !important;
  }

  .olympic__wrapper {
    order: 2;
  }
}

@media screen and (max-width: 576px) {
  .olympic__title {
    font-size: 32px;
  }
}
