.olympic {
  height: 450px;
  background-image: url("../img/olympic-games-bg.png");
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 40px;

  &__title {
    padding-top: 150px;
  }

  &__content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }

  &__wrapper {
    flex: 1 1 calc(75% - 24px);
  }
}

@media screen and (max-width: 679px) {
  .olympic__sidebar {
    order: 1;
    position: static !important;
  }

  .olympic__wrapper {
    order: 2;
  }
}

@media screen and (max-width: 576px) {
  .olympic__title {
    font-size: 32px;
  }
}
