.tabs {
  display: inline-flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  gap: 64px;
  scrollbar-width: none;
  padding-bottom: 12px;
  position: relative;
  line-height: 131%;
}

.tabs::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  z-index: 0;
}

.tabs::-webkit-scrollbar {
  display: none;
}
