<section class="events">
  <div class="container">
    <div class="events__body">
      <div class="events__header block__header">
        <h2 class="events__title block__title">Мероприятия</h2>
        <div class="block__link-container">
          <a class="block__link" href="#">Все мероприятия</a><i class="block__link-icon bi bi-arrow-right"></i>
        </div>
      </div>
      <div class="events__cards">
        <a href="#" class="event__card">
          <div class="event__image-container">
            <img class="event__image" src="../img/event-img1.png" alt="Фото" />
            <p class="event__date">
              <span class="event__date-number">18-21</span>
              <span class="event__date-month">июня</span>
            </p>
          </div>
          <p class="event__description">
            Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
          </p>
        </a>
        <a href="#" class="event__card">
          <div class="event__image-container">
            <img class="event__image" src="../img/event-img2.png" alt="Фото" />
            <p class="event__date">
              <span class="event__date-number">04</span>
              <span class="event__date-month">июля</span>
            </p>
          </div>
          <p class="event__description">Спартакиада детско-юношеских спортивных школ Республики Беларусь</p>
        </a>
        <a href="#" class="event__card">
          <div class="event__image-container">
            <img class="event__image" src="../img/event-img3.png" alt="Фото" />
            <p class="event__date">
              <span class="event__date-number">18-21</span>
              <span class="event__date-month">июля</span>
            </p>
          </div>
          <p class="event__description">Открытый кубок по плаванию</p>
        </a>
      </div>
    </div>
  </div>
</section>
