<section class="events">
  <div class="container">
    <div class="events__body">
      <div class="events__header block__header">
        <h2 class="events__title block__title">Мероприятия</h2>
        <div class="block__link-container">
          <a class="block__link" href="#">Все мероприятия</a><i class="block__link-icon bi bi-arrow-right"></i>
        </div>
      </div>
      <div class="events__cards">
        <div class="event__card">
          <div>
            <img src="../img/event-img1.png" alt="Фото">
            <p class="event__date">
              <span>18-21</span> <br>
              <span>июля</span>
            </p>
          </div>
          <p class="events__description">
            Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
          </p>
        </div>
        <div class="event__card">
          <div>
            <img src="../img/event-img1.png" alt="Фото">
            <p class="event__date">
              <span>18-21</span> <br>
              <span>июля</span>
            </p>
          </div>
          <p class="events__description">
            Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
          </p>
        </div>
        <div class="event__card">
          <div>
            <img src="../img/event-img1.png" alt="Фото">
            <p class="event__date">
              <span>18-21</span> <br>
              <span>июля</span>
            </p>
          </div>
          <p class="events__description">
            Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
          </p>
        </div>
    </div>
  </div>
</section>