<section class="mission">
  <div class="container">
    <div class="mission__body">
      <div class="mission__content">
        <h2 class="mission__title">Наша миссия</h2>
        <p class="mission__text">
          <span class="d-block mb-2">
            Заключается в продвижении и развитии плавания как вида спорта и здорового образа жизни для всех возрастов и уровней мастерства.
          </span>
          <span>
            Мы стремимся создать вдохновляющую и поддерживающую среду, в которой каждый пловец может раскрыть свой потенциал, развивать свои навыки и достигать высот в спорте.
          </span>
        </p>
        <div class="mission__achivments">
          <div class="mission__achivments-item">
            <p class="achivment__title">60+</p>
            <p class="achivment__text">Спортивных клубов</p>
          </div>
          <div class="mission__achivments-item">
            <p class="achivment__title">100+</p>
            <p class="achivment__text">Тренеров</p>
          </div>
          <div class="mission__achivments-item mission__achivments-item--inverted">
            <p class="achivment__title">2000+</p>
            <p class="achivment__text">Рекордов</p>
          </div>
        </div>
      </div>
      <div>
        <img src="../img/mission-img.png" alt="Фото">
      </div>
    </div>
  </div>
</section>