<section class="photos-videos">
  <div class="container">
    <div class="photos-videos__container">
      <div class="photos__body">
        <div class="photos__header block__header">
          <h2 class="photos__title block__title">Фото</h2>
          <div class="block__link-container">
            <a class="block__link" href="#">Все фото</a><i class="block__link-icon bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="photos__cards">
          <a href="#" class="photo__card">
            <div class="photo__image-container">
              <img class="photo__image" src="./img//news-img1.png" alt="Фото" />
              <div class="photo__description">
                <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
                <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
              </div>
            </div>
          </a>
          <a href="#" class="photo__card">
            <div class="photo__image-container">
              <img class="photo__image" src="./img/news-img2.png" alt="Фото" />
              <div class="photo__description">
                <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
                <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
              </div>
            </div>
          </a>
          <a href="#" class="photo__card">
            <div class="photo__image-container">
              <img class="photo__image" src="./img/news-img3.png" alt="Фото" />
              <div class="photo__description">
                <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
                <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
              </div>
            </div>
          </a>
          <a href="#" class="photo__card">
            <div class="photo__image-container">
              <img class="photo__image" src="./img/news-img4.png" alt="Фото" />
              <div class="photo__description">
                <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
                <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="videos__body">
        <div class="videos__header block__header">
          <h2 class="videos__title block__title">Видео</h2>
          <div class="block__link-container">
            <a class="block__link" href="#">Все видео</a><i class="block__link-icon bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="videos__cards">
          <div class="video__card">
            <lite-youtube videoid="goiWrNiaT0I" style="background-image: url('https://i.ytimg.com/vi/goiWrNiaT0I/hqdefault.jpg')">
              <a href="https://youtube.com/watch?v=goiWrNiaT0I" class="lyt-playbtn" title="Play Video">
                <span class="lyt-visually-hidden">Play Video: Crayon Physics Deluxe - Trailer HD</span>
              </a>
            </lite-youtube>
          </div>
          <div class="video__card">
            <lite-youtube videoid="goiWrNiaT0I" style="background-image: url('https://i.ytimg.com/vi/goiWrNiaT0I/hqdefault.jpg')">
              <a href="https://youtube.com/watch?v=goiWrNiaT0I" class="lyt-playbtn" title="Play Video">
                <span class="lyt-visually-hidden">Play Video: Crayon Physics Deluxe - Trailer HD</span>
              </a>
            </lite-youtube>
          </div>
          <!-- <div class="video__card">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="video__card">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
