<section class="photos">
  <div class="container">
    <div class="photos__body">
      <div class="photos__header block__header">
        <h2 class="photos__title block__title">Фото</h2>
        <div class="block__link-container">
          <a class="block__link" href="#">Все фото</a><i class="block__link-icon bi bi-arrow-right"></i>
        </div>
      </div>
      <div class="photos__cards">
        <a href="#" class="photo__card">
          <div class="photo__image-container">
            <img class="photo__image" src="../img//news-img1.png" alt="Фото" />
            <div class="photo__description">
              <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
              <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
            </div>
          </div>
        </a>
        <a href="#" class="photo__card">
          <div class="photo__image-container">
            <img class="photo__image" src="../img/news-img2.png" alt="Фото" />
            <div class="photo__description">
              <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
              <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
            </div>
          </div>
        </a>
        <a href="#" class="photo__card">
          <div class="photo__image-container">
            <img class="photo__image" src="../img/news-img3.png" alt="Фото" />
            <div class="photo__description">
              <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
              <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
            </div>
          </div>
        </a>
        <a href="#" class="photo__card">
          <div class="photo__image-container">
            <img class="photo__image" src="../img/news-img4.png" alt="Фото" />
            <div class="photo__description">
              <p class="photo__description-text">Семинар для тренеров по плаванию в Минске 13 апреля 2024 года</p>
              <p class="photo__description-number"><i class="bi bi-camera"></i>24</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
