<section class="videos">
  <div class="container">
    <div class="videos__body">
      <div class="videos__header block__header">
        <h2 class="videos__title block__title">Видео</h2>
        <div class="block__link-container">
          <a class="block__link" href="#">Все видео</a><i class="block__link-icon bi bi-arrow-right"></i>
        </div>
      </div>
      <div class="videos__cards">
        <div class="video__card">
          <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video__card">
          <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
