<footer class="cabinet__footer">
  <div class="bg-main py-5 py-lg-3">
    <div class="d-flex justify-content-between align-items-center gap-4 flex-wrap">
      <a
        class="d-block"
        href="#">
        <img
          src="./img/icons/footer-logo.png"
          alt="Logo" />
      </a>
      <p class="color-white fs-14">©2024, Белорусская федерация плавания</p>
      <span class="fs-14 color-white">
        Сайт разработан:
        <a
          class="color-white hover-light-blue"
          href="https://info-center.by/">
          РУП «Информационно-издательский центр по налогам и сборам»
        </a>
      </span>
    </div>
  </div>
  <div
    id="modal-window-exit"
    class="modal-window">
    <div class="modal-container">
      <span
        class="modal-close-btn"
        id="modal-close-btn">
        &times;
      </span>
      <h2 class="modal-title">Выйти из личного кабинета</h2>
      <div class="modal-body">
        <p class="modal-text">Вы действительно хотите выйти из личного кабинета</p>
        <button class="cabinet__content-button">Выйти</button>
        <button class="cabinet__content-button--secondary cancel-btn">Отмена</button>
      </div>
    </div>
  </div>
</footer>
