<header class="cabinet-header py-16px">
  <div class="container-fluid">
    <div class="container d-flex justify-content-between align-items-center gap-4">
      <a class="d-block" href="#"><img src="./img/icons/logo.png" alt="Logo" /></a>
      <div class="d-flex flex-wrap gap-2">
        <p class="color-dark-gray">Техническая поддержка:</p>
        <a class="color-main hover-main-hover" href="tel:80172404671">
          <i class="mr-8px bi bi-phone"></i>8(017)-240-46-71
        </a>
      </div>
    </div>
  </div>
</header>
