<header class="cabinet__header py-16px">
  <div class="cabinet__header-desktop justify-content-between align-items-center gap-4">
    <a class="d-block" href="#"><img src="./img/icons/logo.png" alt="Logo" /></a>
    <div class="d-flex flex-wrap gap-2 align-items-center">
      <p class="color-dark-gray">Техническая поддержка:</p>
      <a class="color-main hover-main-hover" href="tel:80172404671">
        <i class="mr-8px bi bi-phone"></i>
        8(017)-240-46-71
      </a>
      <div class="cabinet__profile-info">
        <div class="dropdown header-dropdown cursor-pointer d-flex" aria-expanded="false">
          <div class="dropdown-toggle d-flex">
            <div class="profile-btn">
              <img src="./img/icons/person.svg" alt="Profile icon" />
            </div>
            <div class="d-flex flex-column gap-2">
              <p class="">Иванов Иван Иванович</p>
              <p class="fs-14 color-dark-gray">пользователь</p>
            </div>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="cabinet-profile.html">Профиль</a>
            </li>
            <li>
              <a class="dropdown-item" href="cabinet-change-password.html">Изменить пароль</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="cabinet__header-mobile justify-content-between">
    <a class="d-block" href="#"><img src="./img/icons/mobile-logo.png" alt="Logo" /></a>
    <div class="d-flex">
      <a class="profile-btn">
        <img src="./img/icons/person.svg" alt="Profile icon" />
      </a>
      <button class="menu-toggle">
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
      </button>
    </div>
  </div>
</header>
