<section class="feedback">
  <div class="container-fluid feedback__container">
    <div class="container">
      <div class="feedback__header">
        <h2 class="block__title color-white mr-32px">Обратная связь</h2>
      </div>
      <div class="feedback__body">
        <div class="feedback__content">
          <p class="feedback__text">Оставьте свои данные в форме ниже и мы обязательно свяжемся с Вами</p>
          <form action="#" class="feedback__form form">
            <div class="form__input">
              <label for="full-name">ФИО<span class="color-red">*</span></label>
              <input id="full-name" type="text" placeholder="ФИО" />
            </div>
            <div class="form__input">
              <label for="email">Email<span class="color-red">*</span></label>
              <input id="email" type="text" placeholder="Email" required />
            </div>
            <div class="form__input">
              <label for="phone">Номер телефона</label>
              <input id="phone" type="text" placeholder="+375 (__)-___-__-__" required />
            </div>
            <div class="form__textarea">
              <label for="question">Вопрос</label>
              <textarea id="question" type="textarea" placeholder="Напишите вопрос" rows="6"></textarea>
            </div>
            <div class="form__checkbox">
              <label class="form__checkbox-container"
                ><input type="checkbox" />Согласие на обработку
                <a class="color-light-blue hover-white" href="#">персональных данных</a>
                <span class="form__checkbox-checkmark"></span>
              </label>
            </div>
            <button class="form__button" type="submit">Отправить</button>
          </form>
        </div>
        <div class="feedback__img">
          <img src="./img/feedback-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
