<section class="goals">
  <div class="container">
    <div class="goals__body">
      <h2 class="goals__title block__title">Наши цели</h2>
      <div class="goals__items">
        <div class="goals__item"><span>Проведение массовых мероприятий и кампаний по привлечению новых участников в плавание.</span></div>
        <div class="goals__item"><span>Обеспечение высококачественного тренерского состава и улучшение методик тренировок.</span></div>
        <div class="goals__item"><span>Поддержка участия спортсменов в международных соревнованиях, включая чемпионаты мира и Олимпийские игры.</span></div>
        <div class="goals__item"><span>Организация семинаров, курсов и мастер-классов для повышения квалификации специалистов.</span></div>
      </div>
    </div>
  </div>
</section>