<section class="goals">
  <div class="container">
    <div class="goals__body">
      <h2 class="goals__title block__title">Наши цели</h2>
      <div class="goals__items">
        <div class="goals__item">Проведение массовых мероприятий и кампаний по привлечению новых участников в плавание.</div>
        <div class="goals__item">Обеспечение высококачественного тренерского состава и улучшение методик тренировок.</div>
        <div class="goals__item">Поддержка участия спортсменов в международных соревнованиях, включая чемпионаты мира и Олимпийские игры.</div>
        <div class="goals__item">Организация семинаров, курсов и мастер-классов для повышения квалификации специалистов.</div>
      </div>
    </div>
  </div>
</section>