<section class="news">
  <div class="container-fluid news__content">
    <div class="container">
      <div class="news__header">
        <div class="block__header">
          <h2 class="block__title color-white mr-32px">Новости</h2>
          <div class="block__link-container--red">
            <a class="block__link--red" href="#">Больше новостей</a
            ><i class="block__link-icon--red bi bi-arrow-right"></i>
          </div>
        </div>
        <ul class="nav nav-underline news__tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="all-tab"
              data-bs-toggle="tab"
              data-bs-target="#all-tab-pane"
              type="button"
              role="tab"
              aria-controls="all-tab-pane"
              aria-selected="true"
            >
              Все
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="news-tab"
              data-bs-toggle="tab"
              data-bs-target="#news-tab-pane"
              type="button"
              role="tab"
              aria-controls="news-tab-pane"
              aria-selected="false"
            >
              Наши новости
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="smi-tab"
              data-bs-toggle="tab"
              data-bs-target="#smi-tab-pane"
              type="button"
              role="tab"
              aria-controls="smi-tab-pane"
              aria-selected="false"
            >
              СМИ
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="congrats-tab"
              data-bs-toggle="tab"
              data-bs-target="#congrats-tab-pane"
              type="button"
              role="tab"
              aria-controls="congrats-tab-pane"
              aria-selected="false"
            >
              Поздравления
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="more-tab"
              data-bs-toggle="tab"
              data-bs-target="#more-tab-pane"
              type="button"
              role="tab"
              aria-controls="more-tab-pane"
              aria-selected="false"
            >
              Ещё
            </button>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="all-tab-pane"
          role="tabpanel"
          aria-labelledby="all-tab-tab"
          tabindex="0"
        >
          <div class="news-tab">
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img1.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img3.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img5.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img6.png" alt="Фото" />
              </div>
              <p class="news__label news__label--light-blue">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">
                Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
          </div>
        </div>
        <div class="tab-pane fade" id="news-tab-pane" role="tabpanel" aria-labelledby="news-tab" tabindex="0">
          <div class="news-tab">
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img1.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img3.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img5.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img6.png" alt="Фото" />
              </div>
              <p class="news__label news__label--light-blue">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">
                Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
          </div>
        </div>
        <div class="tab-pane fade" id="smi-tab-pane" role="tabpanel" aria-labelledby="smi-tab" tabindex="0">
          <div class="news-tab">
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img1.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img3.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img5.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img6.png" alt="Фото" />
              </div>
              <p class="news__label news__label--light-blue">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">
                Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
          </div>
        </div>
        <div class="tab-pane fade" id="congrats-tab-pane" role="tabpanel" aria-labelledby="congrats-tab" tabindex="0">
          <div class="news-tab">
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img1.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img3.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img5.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img6.png" alt="Фото" />
              </div>
              <p class="news__label news__label--light-blue">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">
                Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
          </div>
        </div>
        <div class="tab-pane fade" id="more-tab-pane" role="tabpanel" aria-labelledby="more-tab" tabindex="0">
          <div class="news-tab">
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img1.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img3.png" alt="Фото" />
              </div>
              <p class="news__label news__label--white">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">Открытый Кубок Беларуси по плаванию стартовал в Бресте</p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img5.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Белорусские пловцы дополнили нашу медальную копилку, выступив в «Эстафете дружбы» в Якутске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img6.png" alt="Фото" />
              </div>
              <p class="news__label news__label--light-blue">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img2.png" alt="Фото" />
              </div>
              <p class="news__label news__label--blue">наши новости</p>
              <p class="news__description">
                Международный турнир по плавнию памяти Героя Советского Союза Лизы Чайкиной 2024
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
            <a href="#" class="news__card">
              <div class="news__image-container">
                <img class="news__image" src="./img/news-img4.png" alt="Фото" />
              </div>
              <p class="news__label news__label--red">наши новости</p>
              <p class="news__description">
                Анна Петруцкая обновила юниорский рекорд Беларуси и стала бронзовым призером на Первенстве России
                по плаванию в Обнинске
              </p>
              <p class="news__date">18 июня 2024</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
