<section class="partners">
  <div class="container">
    <div class="social-media__header block__header">
      <h2 class="social-media__title block__title">Партнеры</h2>
    </div>
    <div class="swiper slider-partner swiper-initialized swiper-horizontal swiper-backface-hidden">
      <div class="swiper-wrapper" id="swiper-wrapper" aria-live="off">
        <div class="swiper-slide partner__card" role="group" aria-label="5 / 7" data-swiper-slide-index="4">
          <a href="" target="_blank" class="partner__card-body">
            <img src="../img/partners/belaz.svg" alt="belaz logo" />
            <p>Технический партнер</p>
          </a>
        </div>
        <div
          class="swiper-slide swiper-slide-prev partner__card"
          role="group"
          aria-label="6 / 7"
          data-swiper-slide-index="5"
        >
          <a href="" target="_blank" class="partner__card-body">
            <img src="../img/partners/mts.svg" alt="Mts logo" />
            <p>Генеральный партнер</p>
          </a>
        </div>
        <div
          class="swiper-slide swiper-slide-active partner__card"
          role="group"
          aria-label="7 / 7"
          data-swiper-slide-index="6"
        >
          <a href="" target="_blank" class="partner__card-body">
            <img src="../img/partners/gazprom.svg" alt="gazprom logo" />
            <p>Технический партнер</p>
          </a>
        </div>
        <div
          class="swiper-slide swiper-slide-next partner__card"
          role="group"
          aria-label="1 / 7"
          data-swiper-slide-index="0"
        >
          <a href="" target="_blank" class="partner__card-body">
            <img src="../img/partners/sport5.svg" alt="sport5 logo" />
            <p>Официальный поставщик</p>
          </a>
        </div>
        <div class="swiper-slide partner__card" role="group" aria-label="2 / 7" data-swiper-slide-index="1">
          <a href="" target="_blank" class="partner__card-body">
            <img src="../img/partners/sport-and-tourism.svg" alt="" />
            <p>Генеральный партнер</p>
          </a>
        </div>
        <div
          class="swiper-slide swiper-slide-active partner__card"
          role="group"
          aria-label="7 / 7"
          data-swiper-slide-index="6"
        >
          <a href="" target="_blank" class="partner__card-body">
            <img src="../img/partners/gazprom.svg" alt="gazprom logo" />
            <p>Технический партнер</p>
          </a>
        </div>
        <div
          class="swiper-slide swiper-slide-prev partner__card"
          role="group"
          aria-label="6 / 7"
          data-swiper-slide-index="5"
        >
          <a href="" target="_blank" class="partner__card-body">
            <img src="../img/partners/mts.svg" alt="Mts logo" />
            <p>Генеральный партнер</p>
          </a>
        </div>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</section>
