<section class="social-media">
  <div class="container">
    <div class="social-media__body">
      <div class="social-media__header block__header">
        <h2 class="social-media__title block__title">Мы в социальных сетях</h2>
      </div>
      <div class="social-media__cards">
        <a href="#" class="social-media__card">
          <div class="social-media__image-container">
            <img class="social-media__image" src="./img//news-img1.png" alt="Фото" />
          </div>
        </a>
        <a href="#" class="social-media__card">
          <div class="social-media__image-container">
            <img class="social-media__image" src="./img/news-img2.png" alt="Фото" />
          </div>
        </a>
        <a href="#" class="social-media__card">
          <div class="social-media__image-container">
            <img class="social-media__image" src="./img/news-img3.png" alt="Фото" />
          </div>
        </a>
        <a href="#" class="social-media__card">
          <div class="social-media__image-container">
            <img class="social-media__image" src="./img/news-img4.png" alt="Фото" />
          </div>
        </a>
        <a href="#" class="social-media__card">
          <div class="social-media__image-container">
            <img class="social-media__image" src="./img/news-img4.png" alt="Фото" />
          </div>
        </a>
        <a href="#" class="social-media__card">
          <div class="social-media__image-container">
            <img class="social-media__image" src="./img/news-img4.png" alt="Фото" />
          </div>
        </a>
        <a href="#" class="social-media__card">
          <div class="social-media__image-container">
            <img class="social-media__image" src="./img/news-img4.png" alt="Фото" />
          </div>
        </a>
        <a href="#" class="social-media__card">
          <div class="social-media__instagram">
            <p>Мы в Instagram</p>
            <p>@blrswimming</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
